<!-- alchemy -->
<section class="page-section" id="alchemy">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Alchemy Concert</h2>
				<img class="img-fluid" src="assets/img/timeline/alchemy.jpg" alt="Alchemy">
				<br> <br>

				<ul class="text-muted" style="list-style-type:none">
					<li><b>When?</b>: Friday, 18 November 2022 at 8:30pm</li>
					<li><b>Where?</b>: Imig E160 </li>
					<li><b>Who?</b>: YOU! Please RSVP <a
							href="https://docs.google.com/forms/d/e/1FAIpQLSdyjzemV5Czr3GVFpaIrzNFUAXGj73NBj4PlgKk2Rsl7mSquw/viewform">here.</a>
					</li>
					<li><b>How?</b>: Please (please!) RSVP with <a
							href="https://docs.google.com/forms/d/e/1FAIpQLSdyjzemV5Czr3GVFpaIrzNFUAXGj73NBj4PlgKk2Rsl7mSquw/viewform">this
							form.</a></li>
					<li><b>Why?</b>: It's an immersive, interactive Choral Concert with visual arts, dancers, and rad
						music composed by Renova composers!</li>
				</ul><br>
				<p class="text-center text-muted">Check back soon for a program and more details!</p>

				<h4>RSVP!</h4>
				<iframe
					src="https://docs.google.com/forms/d/e/1FAIpQLSdyjzemV5Czr3GVFpaIrzNFUAXGj73NBj4PlgKk2Rsl7mSquw/viewform"
					width=60% height=400px></iframe>

			</div>
		</div>
	</div>
</section>
<!-- End alchemy -->