<section id="auditions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Auditions 2022</h2><br><br>

                <h3>Audition Overview:</h3>  
                <ul class="text-muted" style="list-style-type:none">
                    <li><b>When?</b>: Sunday, 28 August 2022 between 6-8pm</li>
                    <li><b>Where?</b>: Imig C125 </li>
                    <li><b>Who?</b>: YOU! We want you to join us!</li>
                    <li><b>Why?</b>: We're a cool bunch and new music! Need we say more?! (Also, Jessie bakes fantastic snacks!)</li>
                    <li><b>How?</b>: Sign up for auditions by completing <a href="https://docs.google.com/forms/d/e/1FAIpQLScqJ5Ts5sUt3uNnNtSA0fHqjWv0PKUfNXMelj1UcUaeyyQ2XA/viewform?usp=sf_link">this form.</a></li>
                </ul><br>

                <h3>Audition Summary</h3>
                <p class="text-muted">For your audition, you'll sing a portion of <i>Hallelujah</i> by one of our incredible Renova composers, Ryan Flat. Please pick your voice part and plan to sing along with a group of current Renova singers during your audition on 28 August. You can find scores and practice tracks below.</p>
                <h4> Score</h4>
                <p class="text-muted"> You will sing through letter C (measures 18 - 26).</p>
                <embed src="assets/auditions/Renova_Audition_Score.pdf" type="application/pdf" width="60%" height="300px" />
                
                <h4> Part Tracks</h4>
                <figure><figcaption>Soprano</figcaption>
                    <audio
                        controls
                        src="assets/auditions/Soprano_Renova_Audition.mp3">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
                <br>
                <figure><figcaption>Alto</figcaption>
                    <audio
                        controls
                        src="assets/auditions/Alto_Renova_Audition.mp3">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
                <br>
                <figure><figcaption>Tenor</figcaption>
                    <audio
                        controls
                        src="assets/auditions/Tenor_Renova_Audition.mp3">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
                <br>
                <figure><figcaption>Bass</figcaption>
                    <audio
                        controls
                        src="assets/auditions/Bass_Renova_Audition.mp3">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
                <br>
                <figure><figcaption>All Parts (Tutti)</figcaption>
                    <audio
                        controls
                        src="assets/auditions/All_4_Renova_Audition.mp3">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
                <br>

                <br>
                <h3>Other questions? </h3>
                <p class="text-muted">If you have other questions about Renova or auditions, you can email us at renovanewmusic@gmail.com or come see us on 18 August 2022 and 20 August 2022 between 10-12pm outside the Imig Music building. </p>
            </div>
        </div>
    </div>
  </section>