<section id="auditions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Auditions 2022</h2><br><br>

                <h3>Audition Overview:</h3>  
                <ul class="text-muted" style="list-style-type:none">
                    <li><b>When?</b>: 29 August 2022 between 6-8pm</li>
                    <li><b>Where?</b>: TBD (check back soon)</li>
                    <li><b>Who?</b>: YOU! We want you to join us!</li>
                    <li><b>Why?</b>: We're a cool bunch and new music! Need we say more?! (Also, Jessie bakes fantastic snacks!)</li>
                    <li><b>How?</b>: Check back for more details shortly!</li>
                </ul><br>

                <h3>Audition Summary</h3>
                <p class="text-muted">Check back for music and audition details during the week of August 16th.</p>
                
                <br>
                <h3>Other questions? </h3>
                <p class="text-muted">If you have other questions about Renova or auditions, you can email us at renovanewmusic@gmail.com or come see us on 18 August 2022 and 20 August 2022 between 10-12pm outside the Imig Music building. </p>
            </div>
        </div>
    </div>
  </section>