<!-- Jessie -->
<section class="page-section" id="{{ site.data.sitetext.Jessie.section | default: "Jessie" }}">
	<div class="container">
	<div class="row">
		<img src="assets/img/jessie.jpg" width="300"  class="Photos-Left" style="margin-right:12px;float:left;"/>
		<h1 class="Padding-50px-Left">Jessie Flasschoen Campbell</h1>

		<p>
		</p>
	</div>

	<div class="row">
  	<div class="col-lg-8 mx-auto text-center">
	  <div class="large text-muted">{{ site.data.sitetext.Jessie.subtext | markdownify }}</div>
	</div>
  	</div>
	</div>
</section>
<!-- End Jessie -->
