<!-- Team -->
<section class="bg-light page-section" id="{{ site.data.sitetext.team.section | default: "team" }}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
			<h2 class="section-heading text-uppercase">Our Amazing People</h2>
			<h3 class="section-subheading text-muted">{{ site.data.sitetext.team.text }}</h3>
			</div>
		</div>
		<div class="row">
			{% for person in site.data.sitetext.team.people %}
					<div class="col-sm-6">
						<div class="team-member">
							{%- if person.url -%}
								<a class="team-link" href="{{ person.url }}#{{ person.url }}">
									<img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">
							</a>
							{%- else -%}
							<a class="team-link" data-toggle="modal" href="#{{ person.id }}">
							<img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">
							</a>
							{%- endif -%}
							<h4>{{ person.name }}</h4>
							<p class="text-muted">{{ person.role }}</p>
							<ul class="list-inline social-buttons">
							{% for network in person.social %}
							<li class="list-inline-item">
								<a href="{{ network.url }}">
								<i class="{{ network.icon }}"></i>
								</a>
							</li>
								{% endfor %}
							</ul>
							
						</div>
					</div>
			{% endfor %}
			<div class="col-sm-6 text-center">
				<h4><a href="https://curenova.github.io/composers#composers">Composers</a></h4>
					<ul class="list-inline text-center" style="list-style: none;">
						<li class="list-inline-item">Sam C Henderson</li>
						<li class="list-inline-item">JC Maynard</li>
						<li class="list-inline-item">Keenan Powell</li>
						<li class="list-inline-item">Ryan Flat</li>
					</ul>
					<ul class="list-inline text-center" style="list-style: none;">
						<li class="list-inline-item">O'Neil Jones</li>
						<li class="list-inline-item">Josie Arnett</li>
						<li class="list-inline-item">Brandon Warren</li>
					</ul>   
				<br>
				<h4>Singers</h4>
				<h5> Sopranos </h5>
				<ul class="list-inline text-center" style="list-style: none;">
					<li class="list-inline-item">Jessie Flasschoen Campbell</li>
					<li class="list-inline-item">LJ Hansen</li>
					<li class="list-inline-item">Brenda Berganza</li>
					<li class="list-inline-item">Lizzie French</li>
					<li class="list-inline-item">Brianna Gress</li>


				</ul>   
				<h5> Altos </h5>
				<ul class="list-inline text-center" style="list-style: none;">
					<li class="list-inline-item">Josie Arnett</li>
					<li class="list-inline-item">Corey Lynn Murphey</li>
					<li class="list-inline-item">Iona Binnie</li>
					<li class="list-inline-item">Maggie Friesen
					<li class="list-inline-item">Megann Sala</li>
					<li class="list-inline-item">Emily Zalevsky</li>
				</ul>   
				<h5> Tenors </h5>
				<ul class="list-inline text-center" style="list-style: none;">
					<li class="list-inline-item">Sam C Henderson</li>
					<li class="list-inline-item">Duke Mattie</li>
					<li class="list-inline-item">Jason Gallardo</li>
					<li class="list-inline-item">Jamie Lammers</li>
					<li class="list-inline-item">Salem Channell</li>
				</ul>   
				<h5> Basses </h5>
				<ul class="list-inline text-center" style="list-style: none;">
					<li class="list-inline-item">Ryan Flat</li>
					<li class="list-inline-item">O'Neil Jones</li>
					<li class="list-inline-item">Erich Brady</li>
					<li class="list-inline-item">Cade Yoshioka</li>
					<li class="list-inline-item">JC Maynard</li>
					<li class="list-inline-item">Keenan Powell</li>
				</ul>   
				<h5> ...and <i>YOU</i>!  <a href="#contact">Join us!</a> </h5>
				<br>
	
				<h4>Collaborators</h4>
				<ul class="list-inline text-center" style="list-style: none;">
					<li class="list-inline-item text-center">Lizzie French, <i>Collaborative Pianist</i></li>
				</ul>
			</div>
		</div>
	</div>

</section>

